<h1>Listing oferta</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Maximum subscriptions</th>
    <th>Course code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @oferta.each do |ofertum| %>
  <tr>
    <td><%= ofertum.description %></td>
    <td><%= ofertum.start_date %></td>
    <td><%= ofertum.end_date %></td>
    <td><%= ofertum.maximum_subscriptions %></td>
    <td><%= ofertum.course_code %></td>
    <td><%= link_to 'Show', ofertum %></td>
    <td><%= link_to 'Edit', edit_ofertum_path(ofertum) %></td>
    <td><%= link_to 'Destroy', ofertum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ofertum', new_ofertum_path %>
