<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @ofertum.description %>
</p>

<p>
  <b>Start date:</b>
  <%= @ofertum.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @ofertum.end_date %>
</p>

<p>
  <b>Maximum subscriptions:</b>
  <%= @ofertum.maximum_subscriptions %>
</p>

<p>
  <b>Course code:</b>
  <%= @ofertum.course_code %>
</p>


<%= link_to 'Edit', edit_ofertum_path(@ofertum) %> |
<%= link_to 'Back', oferta_path %>
